.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {background-color: #582A8C;}
  to {background-color: ghostwhite; transform: rotate(45deg) translate(22px, 25px);}
}

@keyframes middle {
  from {background-color: #582A8C;}
  to {background-color: #BF1479; z-index: -1}
}

@keyframes bottom {
  from {background-color: #582A8C;}
  to {background-color: ghostwhite; transform: rotate(-45deg) translate(20px, -25px);}
}


.hamburger:hover > #middle{
  animation-name: middle;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hamburger:hover > #top{
  animation-name: top;
  animation-duration: 2s;
}

.hamburger:hover > #bottom{
  animation-name: bottom;
  animation-duration: 2s;
}