/* Re-coded the css file and un-linked the main sheet. */

main {
    background-color: #67CDAA;
    font-family: sans-serif;

    transform: skewX(-10deg) rotate(-10deg);
}

.info{
    padding-left: 35%;
    padding-top: 35%;
    padding-bottom: 35%;
}